# ** Projeto sobre Aprofundamento de Analytics**

**Objetivo do Projeto:**

Tratamento de Dados: Realizar a junção (JOIN) de duas tabelas utilizando SQL para consolidar as informações.
Análise de Dados: Exportar os dados resultantes para um arquivo CSV.
Visualização de Dados: Desenvolver um dashboard interativo e informativo para visualização das principais métricas e insights do e-commerce.

**Tabelas Disponibilizadas:**

**Tabela de Transações:** Contém os registros de transações realizadas pelos clientes, incluindo detalhes como ID da transação, valor e outros.


**Tabela de Dados Pessoais:** Contém as informações pessoais dos clientes, como ID do cliente, nome, genero, cidade, etc.

**Chave de Ligação:** As tabelas se relacionam através da coluna ID_CLIENT, que é a chave identificadora dos clientes.

Abaixo temos a configuração do ambiente SQL:

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df_transacoes = pd.read_csv("TB_TRANSACOES_PROJETO_ECOMM.csv", delimiter=';')
df_clientes = pd.read_csv("TB_CLIENTES_PROJETO_ECOMM.csv", delimiter=';')

In [ ]:
conn = sqlite3.connect('projeto.db')
# Carregar o DataFrame no banco de dados SQLite - criando tb_transacoes e tb_clientes
df_transacoes.to_sql('tb_transacoes', conn, index=False, if_exists='replace')
df_clientes.to_sql('tb_clientes', conn, index=False, if_exists='replace')

175

In [ ]:
# Função para executar consultas SQL e retornar o resultado como um DataFrame
def run_query(query):
    return pd.read_sql_query(query, conn)

In [ ]:
query = """
SELECT *
FROM tb_transacoes
INNER JOIN tb_clientes ON tb_transacoes.ID_CLIENT = tb_clientes.ID_CLIENT
"""
result_df = run_query(query)
print(result_df)

     id_client     Category   Price   Card Type state_name First_name  \
0           37  Electronics   72,93  mastercard         ND     Cornie
1           38      Jewelry  121,89  mastercard         PA        Rab
2           39         Baby    64,3  mastercard         MA      Codie
3           40     Outdoors    9,48  mastercard         OR      Scott
4            5     Outdoors   61,95  mastercard         MN     Tanney
..         ...          ...     ...         ...        ...        ...
291        120         Baby   24,97  mastercard         NY      Dougy
292        121     Clothing  145,64  mastercard         OH     Bartel
293        122     Clothing   46,16  mastercard         KS      Inigo
294        123        Books   39,03  mastercard         VA       Ross
295        124       Health  142,63  mastercard         DC       Saul

          Gender                      Job_Title  Id_client
0    Genderqueer                         Editor         37
1           Male              Assistant Manager         38
2         Female              Financial Analyst         39
3         Female                 Civil Engineer         40
4         Female                   VP Marketing          5
..           ...                            ...        ...
291         Male    Computer Systems Analyst IV        120
292       Female                        Actuary        121
293       Female          Programmer Analyst II        122
294         Male  Analog Circuit Design manager        123
295       Female                   VP Marketing        124

[296 rows x 9 columns]

Exportando o arquivo como CSV:

In [ ]:
result_df.to_csv('dados_ecommerce_final.csv', index=False)